* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.jpg);
    background-size: center;
}

form {
    width: 400px;
background: black;
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
font-family: 'Amatic SC', cursive;
color: white;
box-shadow: 7px 13px 37px rgb(245, 203, 167) ;
}

form h1 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.controls {
    width: 100%;
    background: rgb(245, 203, 167) ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(245, 203, 167) ;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;    
}

form p {
height: 40px;
text-align: center;
font-size: 22px;
line-height: 40px;
}

form a {
    color: white;
    text-decoration: none;
}

form a:hover {
color: white;
text-decoration: underline;
}

form button {
width: 100px;
font-family: 'Amatic SC', cursive;
outline: none;
background: rgb(245, 203, 167) ;
font-size: 16px;
color: white;
padding: 15px 0;
cursor: pointer;
transition: all .5s ease;
border-radius: 10px;
}