/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background: url(background.jpg);
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

a:hover {
  color: #FADBD8;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Amatic SC', cursive;
  color: #FADBD8 ;
}

p, input, li {
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 20px;
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: #FADBD8;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 24px;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

body > * {
  background-color: red;
  padding: 1%;
}

main, header, nav, article, aside, footer, section {
  background-color: rgb(209, 177, 177);
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
  
}
h4{
  font-size: 30px;
  color: black;
  font-family: 'Amatic SC', cursive;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
  
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
  font-size: 25px;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 25px;

}

/* || main layout */
.main .articles {
	width:68.5%;
	margin-right: 1.5%; 
	float:left;
}

.main .articles article {
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
  border-radius: 50px;
}

main {
  display: flex;
}

article, section {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;

}


aside a {
  display: block;
  float: left;
  width: 50%;
  list-style: lower-roman;
}

aside img {
  max-width: 100%;

}

footer {
  margin-top: 5px;
  display: flex;
}

input{
margin-left: 30px;
margin-top: 17px;
color: black;
}

li{
  display: flex;
}

img{
  border-radius: 35px;
}

footer{
font-family: monospace;
  color: aliceblue;
  font-size: x-large;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}
